#burger_button {
    float: left;
    width: 17px;
    height: 13px; 
    cursor: pointer;
    transition: all .5s ease-in-out;
    margin-top: 8px;
    margin-right: 25px;
    margin-left: 19px;
    padding-top: 10px;
}

#bar {
    width: 17px;
    height: 2px;
    background-color: #606060;
    transition: all .5s ease-in-out;
}

#bar::before, #bar::after {
    content: '';
    position: absolute;
    width: 17px;
    height: 2px;
    background-color: #606060;
    transition: all .5s ease-in-out;
}

#bar::before {
    transform: translateY(-5px);
}

#bar::after {
    transform: translateY(5px);
}

.change #bar {
    background: transparent;
}

.change #bar::before {
    transform: rotate(45deg);
}

.change #bar::after {
    transform: rotate(-45deg);
}

img {
    float: left;
    width: 30px;
    height: 30px;
    margin-top: 4px;
}

h1 {
    float: left;
    width: 55px;
    font-size: .95em;
    font-family: 'Roboto', sans-serif;
    letter-spacing: -1px;
    margin-top: 11px;
}
